body {
    background-color:#003049;
    margin:0%;
    overflow-x: hidden;
}

img {
    box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.3), 0 15px 20px 0 rgba(0, 0, 0, 0.25);
}
.topbar {
    width: 100vw;
    height: 8vh;
    display: grid;
    grid-template-columns: 19fr repeat(3, 200px) 1fr;
    grid-template-rows: 100%;
    gap: 1vw;
    position: sticky;
    top: 0vh;
    z-index: 6;
    background-color: rgb(22, 22, 22);
}

.fade_button {
    width: 100%;
    height: 80%;
    font-size: 2rem;
    background-color: transparent;
    transition-duration: 700ms;
    color:rgb(226, 226, 226);
    border-color: transparent;
    align-self: center;
}

.fade_button:hover {
    background-color: rgb(226, 226, 226);
    mix-blend-mode: lighten;
    color:rgb(22, 22, 22);
    text-shadow: none;
    cursor: pointer;
}

.link1 {
    grid-column: 2;
}

.maincontent {
    margin: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 490vh;
    justify-self: center;
    align-self: center;
    font-size: 1.6rem;
    text-shadow: 1px 2px 4px rgba(126, 126, 126, 0.4);
}

.mainrow {
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    text-align: center;
    gap: 10%;
    position: sticky;
    top: 8vh;
}

.textside, .rowpic {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rowpic{
    align-items: center;
}

.rowpicture {
    height: 50%;
    width: auto;
}


.rowtexthead {
    margin-left: 10vw;
    font-size: 2.7rem;
    font-family: Playfair Display, Courier, monospace;
    color: #D62828;
    text-align: left;
}



.rowtext{
    width: fit-content;
    align-self: center;
    margin-left: 10vw;
    font-family: Roboto Serif, Courier, monospace;
    text-align: left;
}


.scroll-offscreen {
    opacity: 1;
    transition: opacity 500ms;
}


.scrolled.fade-anim {
    animation-name: fade-in-only;
    animation-duration: 2000ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.54, 0.54, 0.21, 0.96);
}

.even-row{
    margin-left: 0;
    margin-right: 10vw;
}

@keyframes fade-in-only {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

@keyframes fadefrombottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .topbar {
        grid-template-columns: repeat(3, 33vw);
    }
    .link1 {
        grid-column: 1;
    }
    .mainrow {
        flex-direction: column;
        height: 100vh;
        gap: 5%;
    }

    .mainrow.row2, .mainrow.row4 {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .textside, .rowpic {
        width: 100%;
        height: 40%;
    }
    .rowpicture {
        width: auto;
        height: 90%;
        margin-top: 5%
    }
    .rowtexthead {
        font-size: 2rem;
    }
    .rowtext, .rowtexthead {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .rowtext {
        font-size: 80%;
    }


}

.row1, .row3 {
    background-color: #EAE2B7;
}



.row2, .row4 {
    background-color: #003049;
    color:#EAE2B7;
}

.row4 {
    height: 94vh;
}


