html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}



body {
	display: flex;
	align-items: center;
	justify-content: center;
}


.reveal-content {
	position: relative;
	width: 100vw;
	height: 100vw;
	border-radius: 50%;
	overflow: hidden;
}

.red-square {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#e66465, #9198e5);
	display: flex;
	justify-content: center;
}

img {
	height: 100vh;
	width: 100vw;
	align-self: center;
}