<!DOCTYPE html>
<html lang="en">

	<meta charset="UTF-8">
	<title>JGDev</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="blog.css">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Serif" rel="stylesheet">
	<script src=""></script>
	
	<body>
		<header> 
			<img class="header-logo" src="../images/jgdev.png">
			<input type="checkbox" id="toggle-dropdown" class="toggle-dropdown">
			<label for="toggle-dropdown" class="toggle-dropdown-label">
				<span></span>
			</label>
			<nav>
				<ul>
					<li><a class="fade_button" href="index.html">Home</a></li>
					<li><a class="fade_button" href="projects.html">Projects</a></li>
					<li><a class="fade_button" href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</header>
	</body>


</html>
